body{
    margin:0;
    
}

#my-canvas {
    background-color: transparent;
    position:absolute;
    top:0;
    left:0;
    z-index: 100;
}

#div1{
   position: relative;
   top: -300px;
    width: 900px;
    height: 400px;
    background-color:rgb(162, 211, 218);
    -webkit-animation-name: example; 
    -webkit-animation-duration: 20s; 
    animation-name: example;
    animation-duration: 289s;
    z-index:- 1;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes example {
    /*0%   {background-color: rgb(162, 211, 218);}
    10.73%  {background-color: rgb(248, 160, 28);}
    31.14%  {background-color: rgb(16, 28, 61);}
    70.93% {background-color: rgb(206, 129, 193);}
    100%   {background-color: rgb(162, 211, 218);}*/
    0%   {background-color: rgb(162, 211, 218);}
    31.14%  {background-color: rgb(248, 160, 28);}
    70.93%  {background-color: rgb(16, 28, 61);}
    100% {background-color: rgb(206, 129, 193);}
  }
  
  @keyframes example {
    0%   {background-color: rgb(162, 211, 218);}
    10.73%  {background-color: rgb(248, 160, 28);}
    31.14%  {background-color: rgb(16, 28, 61);}
    70.93% {background-color: rgb(206, 129, 193);}
  }

  /*animación para estrellas*/

  .stars {
    position: relative;
    background-color: transparent;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation-iteration-count: infinite;
    z-index: 10;
    animation-duration: 80s;
    animation-delay: 126s;
  }

  .star-1 {
    
    margin-top: 50px; 
    margin-left: 60%;
    animation-duration: 1s;
    animation-name: twinkle;
    z-index: 10;
  }

  .star-2 {
    margin-top: 30px;
    margin-left: 28%;
    animation-duration: 0.9s;
    animation-name: twinkle;
    z-index: 10;
  }

  .star-3 {
    margin-top: 9px;
    margin-left: 5%;
    animation-duration: 1.4s;
    animation-name: twinkle;
    z-index: 10;
  }
.star-4 {
    margin-top: 5px;
    margin-left: 40%;
    animation-duration: 0.6s;
    animation-name: twinkle;
    z-index: 10;
}
.star-5 {
    margin-top: 3px;
    margin-left: 37%;
    animation-duration: 1s;
    animation-name: twinkle;
    z-index: 10;
  }
.star-6 {
    margin-top: 5px;
    margin-left: 55%;
    animation-duration: 0.7s;
    animation-name: twinkle;
    z-index: 10;
  }
.star-7 {
    margin-top: 1px;
    margin-left: 22%;
    animation-duration: 1.3s;
    animation-name: twinkle;
    z-index: 10;
  }
.star-8 {
    margin-top: 4px;
    margin-left: 70%;
    animation-duration: 0.8s;
    animation-name: twinkle;
    z-index: 10;
  }
.star-9 {
    margin-top: 3px;
    margin-left: 30%;
    animation-duration: 1.2s;
    animation-name: twinkle;
    z-index: 10;
  }

  .star-10 {
    margin-top: 3px;
    margin-left: 60%;
    animation-duration: 1.2s;
    animation-name: twinkle;
    z-index: 10;
  }

  .star-11 {
    margin-top: 3px;
    margin-left: 36%;
    animation-duration: 1.2s;
    animation-name: twinkle;
    z-index: 10;
  }

  .star-12 {
    margin-top: 3px;
    margin-left: 40%;
    animation-duration: 1.2s;
    animation-name: twinkle;
    z-index: 10;
  }

  .star-13 {
    margin-top: 3px;
    margin-left: 10%;
    animation-duration: 1.2s;
    animation-name: twinkle;
    z-index: 10;
  }

  .star-14 {
    margin-top: 3px;
    margin-left: 20%;
    animation-duration: 1.2s;
    animation-name: twinkle;
    z-index: 10;
  }

  @keyframes twinkle {
    
    20% {
      transform: scale(0.5);
      background-color: white;
      opacity: 0.3;
    }
  }

  

  /*animación para rotar algo
  {color:#fff;-webkit-transform:rotate(360deg);}*/